---
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from '@/components/ui/table'
import { readData } from '../backend/google'

export const prerender = false
const signers = await readData()
---

<Table>
  <TableHeader>
    <TableRow>
      <TableHead>Name</TableHead>
      <TableHead>Twitter</TableHead>
      <TableHead>Affiliation</TableHead>
    </TableRow>
  </TableHeader>
  <TableBody>
    {
      signers.map((signer, i) => (
        <TableRow key={`signer-${i}`}>
          <TableCell>{signer.name}</TableCell>
          <TableCell>{signer.twitterHandle}</TableCell>
          <TableCell>{signer.affiliation}</TableCell>
        </TableRow>
      ))
    }
  </TableBody>
</Table>
