---
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from '@/components/ui/table'
import { readData } from '../backend/google'

export const prerender = false
const signers = await readData()
---

<Table>
  <TableBody>
    {
      signers.map((signer, i) => (
        <TableRow key={`signer-${i}`}>
          <TableCell className="p-0">
            <div class="text-primary font-normal">{signer.name}</div>
            <div class="text-xs text-slate-400 sm:hidden">
              @{signer.twitterHandle}
            </div>
          </TableCell>
          <TableCell className="hidden sm:flex">
            @{signer.twitterHandle}
          </TableCell>
          <TableCell className="text-right">
            {signer.affiliation || 'n.a.'}
          </TableCell>
        </TableRow>
      ))
    }
  </TableBody>
</Table>
